@model RestaurantOrderProcessing.Domain.Entities.Dish

<div class="dishcol">
    @if (Model.ImageData != null)
    {
        <div>
            <img class="dishimage"
                 src="@Url.Action("GetImage", "Dish",
                new { Model.DishId })" />
        </div>
    }
    <div class="dishcontainer" style="padding-bottom: 50px">
        <h3 class="dishname">@Model.Name</h3>
        <p class="dishweight">@Model.Weight.ToString() г</p>
        <p class="dishdescription">@Model.Description</p>
    </div>
    <p class="dishprice">@Model.Price.ToString("# UAH")</p>
    @using (Html.BeginForm("AddToOrder", "Order"))
    {
        <div class="adddishbtn" style="padding-bottom: 10px">
            @Html.HiddenFor(x => x.DishId)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" class="btnadd" value="Заказать" />
        </div>
    }


</div>